.carrinho-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.carrinho-compras{
    margin-right: 10%;
}

.tabela-tabela{
    width: 100%;
    height: 90%;
}

.carrinho-resumo hr{
    color: #eda3a3;
    border-style: solid;
    width: 90%;
    border-radius: 50%;
    border-top: 0px;
}

.carrinho-resumo input{
    border: none;
    background-color: #fadce0;
}

.carrinho-resumo ::placeholder{
    color: #eda3a3;
    text-decoration: underline;
}

.carrinho-resumo{
    width: 250px;
    height: 550px;
    background-color: #fadce0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.botoes-resumo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#finalizar-compra-carrinho{
    margin: 20px 0px 5px 0px;
}
#continuar-comprando-carrinho{
    margin: 5px 0px 20px 0px;
}

.total-pedido{
    background-color: #FFCCCC;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrinho-resumo button{
    color: #551c1c;
    border-radius: 20px;
    border: none;
    padding: 8px 16px 8px 16px;
    width: 80%;
}

#botao-ok-cupom{
    padding: 5px;
    width: 15%;
}

.carrinho-resumo img{
    height: 40px;
}

#finalizar-compra-carrinho{
    background-color: #eda3a3;
}

.bi-x-circle-fill{
    color:#eda3a3;
}

.produtos-carrinhos img{
    height: 130px;
}

.produtos-carrinhos strong{
    color: #eda3a3;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-carrinhos h5{
    margin: 10px 0px 5px 0px;
}

.produtos-carrinhos p{
    margin: 5px 0px 10px 0px;
}

.tabela-tabela{
    border: 2px solid #eda3a3;
    border-radius: 10px;
}

.tabela-tabela th{
    border-bottom: 1px solid #eda3a3;
}
