
/*   Cabeçalho   */

.div-header-primeira,
.div-header-segundo {
    display: flex;
    flex-direction: row;
}

.div-header-primeira,
.section-submenu,
footer {
    background-color: #ffcccc;
    width: 100%;
}

.div-header-primeira{
    height: 50px;
}

.div-header-segundo{
    height: 80px;
    align-content: center;
}

.section-submenu {
    height: 60px;
}

.div-juros,.div-meus-pedidos,.div-atendimento,.div-contato,.div-frete{
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.div-frete{
    margin-left: 5%;
}
.div-juros{
    margin-left: 3%;
}
.div-meus-pedidos{
    margin-left: 45%;
    margin-right: 3%;
}
.div-atendimento{
    margin-right: 3%;
}
.div-contato{
    margin-right: 5%;
}

.img-balao-de-conversa,.img-caminhao-frete,.img-cartao-juros,.img-telefone{
    margin-right: 5px;
}

.img-caminhao-frete,.img-cartao-juros{
    height: 70%;
}

.img-balao-de-conversa, .img-telefone{
    height: 50%;
}

.div-login,.div-favoritos,.div-carrinho{
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.div-logo-beybyhair a{
    margin-left: 30%;
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
}

.div-logo-beybyhair a:hover{
    text-decoration: none;
}

.div-logo-beybyhair a h2{
    padding-top: 16px;
}

.img-logo-beybyhair{
    height: 55%;
    margin-right: 1px;
}

.img-icon-user-branco,.img-coracao-branco,.img-carrinho-branco{
    height: 40%;
}

.div-login{
    margin-left: 3%;/*alterar quando colocar barra de pesquisa*/
    margin-right: 5%;
}

.div-favoritos{
    margin-right: 5%;
}

.div-carrinho{
    margin-right: 10%;
}

.section-submenu nav ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;
}

.section-submenu nav ul li a{
    padding: 1px 20px;
    display:block;
    transition: .3s;
}

.section-submenu nav ul li{
    font-size: 16px;
}

.section-submenu nav ul li a:hover{
    background-color: #eda3a3;
    text-decoration: underline;
    z-index: 4;
}

.li-drop-hover{
    position:relative;
}

.li-drop-hover .drop-submenu{
    position: absolute;
    background-color: #eda3a3;
    width: 100%;
    height: 0;
    overflow:hidden;
    transition: .3s;
    z-index:3;
}

.li-drop-hover:hover .drop-submenu{
    height:fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-barra-pesquisa{
    height: 80px;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

input#barra-pesquisa{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #eda3a3;
    outline: none;
    &:focus{
        border: 1px solid #551c1c;
        transition: 0.35s ease;
        color: #551c1c;
        &::-moz-placeholder{
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-ms-placeholder{
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.lupa-barra-pesquisa{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -40px;
}



/*  Fim cabeçalho */



/*   BOdyyy    */

/*Começo carrosel banner*/
.div-img-carrosel-banner img{
    width: 100%;
    position: relative;
    margin: auto;
}

.div-img-carrosel-banner {
    display: none;
    text-align: center;
}

.text,.numbertext {
    color: #e7070700;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.botoes-carrosel{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffcccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #eda3a3;
}

.prev,.next{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.prev:hover, .next:hover {
    text-decoration: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*fim carrosel banner */

/*Começo carrosel de marcas*/

.div-img-marcas img{
    margin: 0 20px;
    height: 100px;
}
.div-carrosel-marcas{
    padding-left: 60px 0;
    overflow: hidden;
    white-space: nowrap;
}

.section-carrosel-marcas{
    width: 100%;
    justify-items: center;
}

@keyframes slide{
    from{
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

.div-img-marcas{
    display:inline-block;
    animation: 30s slide infinite linear;
}

/*Fim carrosel de marcas*/

.section-novidades-bruna{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*  carrosel de produtos*/
.div-lista-produto{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.div-lista-produto li{
    list-style: none;
    display: flex;
}

.div-lista-produto h2{
    width: 100%;
    text-align: center;
}

.div-lista-produto h3,p{
    width: 100%;
    text-align: center;
}

.lista-produto{
    margin-left: 5%;
    margin-right: 5%;
}

.div-produto{
    display: flex;
    flex-direction: column;
}

.button-produto{
    color: white;
    background-color: #ffcccc;
    height: 50px;
    font-size: 25px;
    font-family: "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";
    border: #ffcccc;
    border-radius: 5px;
}

/*   fim carrosel de produtos*/

/*   FIM BOdyyy   */



/*    FOOTER  */
.section-footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;
}

.section-footer li {
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
}

.div-footer-copyright {
    justify-items:center;
}

.section-footer nav ul li div{
    padding-top: 10px;
}

.section-footer nav ul li a{
    padding-top: 10px;
    text-decoration: none;
}

.section-footer nav ul li h4{
    margin-bottom: 0px;
}

#id-footer-redes-sociais{
    display: inline;
}

.section-footer nav ul li a svg{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

#idfooter-atendimento div svg{
    padding-right: 7px;
}
/*  FIM FOOTER  */